.filestable_header, .filestable_header > * ,
.filestable_content_item, .filestable_content_item > * 
{
  border: solid black 1px;
  text-align: left;
}

.filestable {
  font-size: 20px;
}

.filestable_header, .filestable_content_item {
  display: flex;
  align-items: center;
  height: 64px;
}

.filestable_header_select, .filestable_content_item_select {
  width: 50px;
  line-height: 0;
  white-space: nowrap;
}

.filestable_header_name, .filestable_content_item_name {
  flex-grow:20;
  flex-shrink: 20;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.filestable_header_icons, .filestable_content_item_icons {
  white-space: nowrap;
}

.filestable_header_lastupdate, .filestable_content_item_lastupdate {
  width: 150px;
  text-align: center;
  white-space: nowrap;
}

.filestable_header_size, .filestable_content_item_size {
  width: 70px;
  text-align: center;
  white-space: nowrap;
}

.filestable_content {
  padding: 0;  
  margin: 0;
}

.filestable_content_item {
  list-style-type: none;
  padding: 0;
}