.filestable_content_item {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    height: 64px;
    margin: 8px 0px 8px 8px;
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.filestable_content_item:first-child {
    margin-top: 2px;
}

.filestable_content_item:last-child {
    margin-bottom: 2px;
}

.filestable_content_item_select {
    text-align: center;
    width: 50px;
    line-height: 0;
    white-space: nowrap;
    border-right: 1px solid #ccc;
    cursor: pointer;
    user-select: none;
}

.filestable_content_item_name {
    text-align: left;
    flex-grow:20;
    flex-shrink: 20;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 16px;
}

.filestable_content_item_icons {
    white-space: nowrap;
    padding-left: 16px;
}

.filestable_content_item_icons_item {
    display: inline-block;
    vertical-align: middle;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    height: 24px;
    margin-left: 0;
    margin-right: 0;
    min-width: 24px;
    width: 24px;
    padding: 4px;
    overflow: hidden;
    color: inherit;
    line-height: normal;
    background-color: transparent;
    cursor: pointer;
    box-sizing: content-box;
}

.filestable_content_item_icons_item:hover {
    background-color: rgba(158,158,158,.2);
}

.filestable_content_item_lastupdate {
    width: 150px;
    white-space: nowrap;
    padding-left: 16px;
}

.filestable_content_item_size {
    width: 70px;
    white-space: nowrap;
    padding-left: 16px;
}