.cloud_preview_panel_item_container .for-container {
    height: 100% !important;
    border: none;
}

.cloud_preview_panel_item_savebutton {
    position: absolute;
    bottom: 10px;
    right: 10px;
}