.filestable_actions_button-container {
    padding: 0 1rem;
    position: absolute;
    right: 0;
}

.filestable_actions_button-icon {
    vertical-align: middle;
}

.filestable_actions_button_actions-container {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    max-width: 0;
    transition: max-width .4s ease;
    vertical-align: middle;
    border-radius: .5rem;
    background-color: #f6f8fa;
    padding: .25rem 0;
    margin: 0 .25rem;
}

.filestable_actions_button-icon i {
    transition: transform .4s linear;
}

.filestable_actions_button-container[aria-expanded="true"] > .filestable_actions_button-icon i {
    transform: rotate(-45deg);
}

.filestable_actions_button-container[aria-expanded="true"] > .filestable_actions_button_actions-container {
    max-width: 12.5rem;
    padding: .25rem;
}

.filestable_actions_button-icon,
.filestable_actions_button_action-icon {
    display: inline-block;
    -vertical-align: middle;
    border: none;
    border-radius: 50%;
    font-size: 1.5rem;
    height: 1.5rem;
    margin-left: 0;
    margin-right: 0;
    min-width: 1.5rem;
    width: 1.5rem;
    padding: .25rem;
    color: inherit;
    line-height: normal;
    background-color: transparent;
    cursor: pointer;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    transition: transform .4s linear;
}

.filestable_actions_button_action-icon:hover,
.filestable_actions_button-icon:hover {
    background-color: rgba(158,158,158,.2);
}