.cloud_preview {
    width: 60%;
}
.cloud_preview_tabsbar {
    display: flex;
    align-items: stretch;
    
    flex-wrap: nowrap;
    font-size: 16px;
    margin: 8px 0;
}
.cloud_preview_tabsbar_item {
    flex-grow: 1;
    text-align: left;
    display: flex;
    align-items: center;
    width: 100%;
}
.cloud_preview_tabsbar_item:hover {
    background-color: #00000033;
}
.cloud_preview_tabsbar_item[aria-selected="true"] {
    background-color: #00000011;
    border-bottom: solid 1px blue;
}
.cloud_preview_tabsbar_item_name {
    flex-grow: 1;
    text-align: left;
    padding: 0;
    border:none;
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;

    padding: 10px 0 10px 10px;
    font-size: 18px;
    border-radius: 2px;
    color: black;
}
.cloud_preview_panel {
    width: 100%;
}
.cloud_preview_panel_item {
    width: 100%;
    margin:0;
    padding: 4px;
    box-sizing: border-box;
    text-align: left;
    position: relative;
}
.cloud_preview_tabsbar_item_close_btn.cloud_preview_tabsbar_item_close_btn {
    padding: 0;
    border:none;
    border-radius: 20px;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
    margin: 0 8px 0 0;
}
.cloud_preview_tabsbar_item_close_btn:hover {
    background-color: #00000055;
}