.cloud_preview {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    padding: .5rem;
}
.cloud_preview_tabsbar {
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;
    font-size: 16px;
    margin: 0 0 .5rem 0;
}
.cloud_preview_tabsbar_item {
    flex-grow: 1;
    text-align: left;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.cloud_preview_tabsbar_item:hover {
    background-color: #00000033;
}
.cloud_preview_tabsbar_item[aria-selected="true"] {
    background-color: #00000011;
    border-bottom: solid 1px blue;
}
.cloud_preview_tabsbar_item_name {
    flex-grow: 1;
    text-align: left;
    padding: 0;
    border:none;
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;

    padding: 10px 0 10px 10px;
    font-size: 18px;
    border-radius: 2px;
    color: black;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.cloud_preview_panel {
    width: 100%;
    z-index: 0;
    flex-grow: 10;
    overflow: auto;
    position: relative;
    background-color: #FFF;
}

.cloud_preview_panel_item {
    width: 100%;
    height: 100%;
    margin:0;
    box-sizing: border-box;
    text-align: left;
    overflow: auto;
}
.cloud_preview_tabsbar_item_close_btn.cloud_preview_tabsbar_item_close_btn {
    padding: 0;
    border:none;
    border-radius: 20px;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
    margin: 0 8px 0 0;
}
.cloud_preview_tabsbar_item_close_btn:hover {
    background-color: #00000055;
}

.cloud_preview_panel_item_action {
    float: right;
    background-color: rgba(158,158,158,.2);
    border: none;
    border-radius: 50%;
    font-size: 24px;
    height: 24px;
    margin-left: 4px;
    margin-right: 4px;
    min-width: 24px;
    width: 24px;
    padding: 4px;
    color: inherit;
    line-height: normal;
    cursor: pointer;
    box-sizing: content-box;
    transition: transform .4s linear;
}

.cloud_preview_panel_item_action:hover {
    background-color: rgba(158,158,158,.4);
}

.cloud_preview_panel_item_container {
    height: 100%;
}

.cloud_preview_panel_item_actions_group {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 4px;
    height: auto;
}