.cloud_navigation {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: stretch;
    padding: .5rem;
}

.cloud_navigation_dropzone {
    z-index: 0;
    display: contents;
}