.filestable {
  font-size: 1.25rem;
  overflow: auto;
  flex-shrink: 10;
}

.filestable_header {
  display: flex;
  align-items: center;
  height: 4rem;
  margin: 0 .1875rem;
  top: 0;
  position: sticky;
  background-color: white;
  box-shadow: 0 .125rem .125rem 0 rgba(0,0,0,.14),0 .1875rem .0625rem -.125rem rgba(0,0,0,.2),0 .0625rem .1875rem 0 rgba(0,0,0,.12);
}

.filestable_header_select {
  text-align: center;
  width: 3rem;
  line-height: 0;
  white-space: nowrap;
  cursor: pointer;
  border-right: .0625rem solid #ccc;
  user-select: none;
}

.filestable_header_name {
  flex-grow:20;
  flex-shrink: 20;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
  padding-left: 1rem;
}

.filestable_header_icons {
  white-space: nowrap;
}

.filestable_content {
  padding: 0;
  margin: 0;
  overflow-y: auto;
  min-height: 15rem;
}

.filestable_content--empty {
  background: center no-repeat url(./empty-dir.svg);
}