.cloud_navigation_breadcrumb {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	font-size: 16px;
	padding: 0;
	margin: 10px 0;
}

.cloud_navigation_breadcrumb_item {
	flex-shrink:5;
	list-style-type: none;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	min-width: 16px;
	padding: 5px 0;
	font-size: 18px;
	border-radius: 2px;
	color: black;
	border: none;
	background-color: transparent;
	text-decoration: none;
	position: relative;
}

.cloud_navigation_breadcrumb_item:last-child {
	overflow: visible;
}

.cloud_navigation_breadcrumb_item_dropdown > .material-icons{
	vertical-align: bottom;
}

.cloud_navigation_breadcrumb_item_dropdown_menu.cloud_navigation_breadcrumb_item_dropdown_menu {
	display: none;
	position: absolute;
	list-style: none;
	margin-left: 10px;
	background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.cloud_navigation_breadcrumb_item_dropdown_menu[aria-expanded="true"] {
	display: block;
	z-index: 20;
}

.cloud_navigation_breadcrumb_item_dropdown_menu li button {
	display: block;
	width: 100%;
	border: none;
	background-color: transparent;
	font-family: inherit;
	font-size: inherit;
	padding: 6px 10px;
	cursor: pointer;
	text-align: left;
}

.cloud_navigation_breadcrumb_item_dropdown_menu li button:hover {
	background: rgba(158,158,158,.2);
}
.cloud_navigation_breadcrumb_item:first-child, .cloud_navigation_breadcrumb_item:last-child {
	flex-shrink: 0;
	text-overflow: clip;
}

.cloud_navigation_breadcrumb_item:before {
	content: '/';
	display: inline-block;
	padding: 0 4px;
}

.cloud_navigation_breadcrumb_item:first-child:before {
	content: '';
}

.cloud_navigation_breadcrumb_item > a:hover,
.cloud_navigation_breadcrumb_item_dropdown:hover {
	background: rgba(158,158,158,.2);
}

.cloud_navigation_breadcrumb_item_text {
	padding: 5px;
    font-size: 18px;
    border-radius: 2px;
    color: black;
    border: none;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
}

.cloud_navigation_breadcrumb_item:first-child .cloud_navigation_breadcrumb_item_text{
	padding-bottom: 0;
	padding-top: 0;
}

.cloud_navigation_breadcrumb_item_dropdown {
	padding-bottom: 5px;
	font-size: 18px;
	border-radius: 2px;
	color: black;
	border: none;
	background-color: transparent;
}

/*.cloud_navigation_breadcrumb_item > * {
	padding: 5px;
	font-size: 18px;
	border-radius: 2px;
	color: black;
	border: none;
	background-color: transparent;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
}*/