#root {
  height: 100%;
  overflow: auto;
}

.cloud {
  font-family: sans-serif;
  width: 100%;
  display: flex;
  flex-flow: column;
  height: 100%;
  background-color: #f6f8fa;
  position: relative;
  overflow: hidden;
}

.cloud_main {
  flex-grow:1;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.cloud_navigation {
  width: 100%;
  overflow: auto;
}

.cloud_navigation[aira-expanded="false"] {
  width: 40%;
}

.cloud_preview {
  width: 0;
}
.cloud_preview[aria-expanded="true"] {
  width: 60%;
  padding-left: .5rem;
  box-sizing: border-box;
}

.cloud_notifications {
  position: absolute;
  bottom: 0;
  right: 0;
}
