.cloud_preview_panel_item_error {
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cloud_preview_panel_item_error img {
    min-width: 15rem;
    min-height: 15rem;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}