.skeleton_screen {
    position: relative;
    overflow: hidden;
    min-height: 0;
    height: 100%;
    color: rgb(153, 153, 153);
    user-select: none;
}

.skeleton_screen::after {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    z-index: 10;
    content: '';
}

.skeleton_screen__spinner {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
}

.filestable_content_item.--skeleton {
    filter: blur(3px);
    opacity: 0;
}

@keyframes opacity_blink {
    from { opacity: 0; }
    to { opacity: 1; }
}

.filestable_content_item.--skeleton:nth-child(1) {
    animation: 1s linear 0s opacity_blink;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.filestable_content_item.--skeleton:nth-child(2) {
    animation: 1s linear .25s opacity_blink;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.filestable_content_item.--skeleton:nth-child(3) {
    animation: 1s linear .5s opacity_blink;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.filestable_content_item.--skeleton:nth-child(4) {
    animation: 1s linear .75s opacity_blink;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.filestable_content_item.--skeleton:nth-child(5) {
    animation: 1s linear 1s opacity_blink;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.filestable_content_item.--skeleton:nth-child(6) {
    animation: 1s linear 1.25s opacity_blink;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.filestable_content_item.--skeleton:nth-child(7) {
    animation: 1s linear 1.5s opacity_blink;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.filestable_content_item.--skeleton:nth-child(8) {
    animation: 1s linear 1.75s opacity_blink;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}